body {
  margin: 0;
  font-family: "DotGothic16", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "DotGothic16";
  src: local("DotGothic16"),
    url("./fonts/DotGothic16/DotGothic16-Regular.ttf") format("truetype");
  font-weight: bold;
}
