.primary {
  composes: primaryPixel from "../../styles/utility.module.css";
}

.secondary {
  composes: destructivePixel from "../../styles/utility.module.css";
}

.up {
  composes: upPixel from "../../styles/utility.module.css";
}

.down {
  composes: downPixel from "../../styles/utility.module.css";
}

.left {
  composes: leftPixel from "../../styles/utility.module.css";
}

.right {
  composes: rightPixel from "../../styles/utility.module.css";
}
.header {
  font-size: 24px;
  padding-top: 8px;
}

.controlPanel {
  display: grid;
  grid-template-columns: 180px 180px;
  height: 198px;
}

.controls {
  display: grid;
  grid-template-rows: 32px 32px 32px;
  grid-template-columns: 32px 32px 32px;
  padding-top: 69px;
  padding-left: 44px;
  grid-template-areas:
    ". up ."
    "left . right"
    ". down . ";
}

.upArea {
  grid-area: up;
}

.downArea {
  grid-area: down;
}

.leftArea {
  grid-area: left;
}

.rightArea {
  grid-area: right;
}

.actions {
  display: grid;
  grid-template-rows: 32px 32px;
  grid-template-columns: 48px 48px;
  padding-top: 81px;
  padding-left: 6px;
  grid-template-areas: "secondary primary";
}

.primaryArea {
  grid-area: primary;
}

.secondaryArea {
  padding-top: 19px;
  padding-left: 17px;
  grid-area: secondary;
}
