.emulator {
  display: grid;
  grid-template-rows: 42px 198px 198px;
  height: 100%;
}

.header {
  justify-self: center;
  align-self: center;
}

.screen {
  height: 180px;
  width: 180px;
  margin: auto;
}

.footer {
}

.name {
  font-size: 2em;
}
