.main {
  height: 480px;
  width: 360px;
  text-align: center;
  background-color: transparent;
  background-image: url("../../assets/pixel-background.svg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0;
  margin: auto;
}

.nav {
  display: grid;
  grid-template-columns: auto auto;
}

.auth {
  justify-self: end;
  padding-top: 8px;
  padding-right: 16px;
}

.profile {
  padding-top: 16px;
  padding-left: 16px;
  justify-self: left;
  width: 32px;
  text-overflow: ellipsis;
}

.email {
  width: 140px;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 400px) {
}
