.main {
  height: 480px;
  width: 360px;
  text-align: center;
  background-color: transparent;
  background-image: url("../../assets/pixel-background.svg");
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: 100%;
  border: 0;
  margin: auto;
}

.nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.auth {
  justify-self: end;
  padding: 5px;
  padding-right: 15px;
}

.profile {
  justify-self: center;
  align-self: center;
}

@media screen and (max-width: 400px) {
}
