.submit {
  composes: submit from "../../../styles/utility.module.css";
}

.signin {
  background-color: transparent;
  background-image: url("../../../assets/sign-in.svg");
  background-origin: border-box;
  background-position: center;
  background-size: 100%;
  padding-bottom: 10px;
  height: 32px;
  width: 32px;
  border: 0;
  color: white;
  font-family: inherit;
}

.signin:active {
  background-image: url("../../../assets/sign-in-active.svg");
}
