:root {
  --blue: #009ddc;
  --light-blue: #6bbbdb;
  --dark-blue: #004c6b;
  --red: #c3423f;
  --light-red: #dd5f5d;
  --dark-red: #6d2726;
  --tan: #c5afa4;
  --dark-tan: #695f5a;
  --grey: #c4c4c4;
  --dark-grey: #757575;
  --black: #3b3b3b;
  --green: #58c087;
  --dark-green: #234d36;
}

.redColor {
  color: var(--red);
}

.blueColor {
  color: var(--blue);
}

.button {
  display: inline-block;
  padding: 10px 10px;
  font-family: inherit;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: var(--dark-grey);
  box-shadow: 0 6px var(--black);
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button:hover {
  filter: brightness(110%);
}

.button:active {
  transform: translateY(4px);
}

.submit {
  composes: button;
  background-color: var(--blue);
  box-shadow: 0 6px var(--dark-blue);
}

.submit:active {
  box-shadow: 0 3px var(--dark-blue);
}

.confirm {
  composes: button;
  background-color: var(--green);
  box-shadow: 0 6px var(--dark-green);
}

.confirm:active {
  box-shadow: 0 3px var(--dark-green);
}
.cancel {
  composes: button;
  background-color: var(--red);
  box-shadow: 0 6px var(--dark-red);
}

.cancel:active {
  box-shadow: 0 3px var(--dark-red);
}

.input {
  border-radius: 5px;
  padding: 10px 10px;
  outline: none;
  margin: 8px;
  font: 24px;
  box-sizing: border-box;
  border: 2px solid var(--grey);
  transition: 0.5s;
}

.eventWindow {
  background: #e4e4e4;
  margin: 10px;
  padding: 15px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 12px;
  overflow-y: auto;
  flex-direction: column-reverse;
  display: flex;
  box-shadow: 0 6px;
}

.eventWindow > h6 {
  text-transform: uppercase;
}

.primaryPixel {
  background-color: transparent;
  background-image: url("../assets/primary-button.svg");
  background-origin: border-box;
  background-position: center;
  background-size: 100%;
  padding-bottom: 10px;
  height: 32px;
  width: 32px;
  border: 0;
  color: white;
  font-family: inherit;
}

.primaryPixel:active {
  background-image: url("../assets/primary-button-active.svg");
}

.destructivePixel {
  background-color: transparent;
  background-image: url("../assets/destructive-button.svg");
  background-origin: border-box;
  background-position: center;
  background-size: 100%;
  padding-bottom: 10px;
  height: 32px;
  width: 32px;
  border: 0;
  color: white;
  font-family: inherit;
}

.destructivePixel:active {
  background-image: url("../assets/destructive-button-active.svg");
}
